#site{
    background-image: url("background.jpg");
    background-size: cover;
}

.login{
    background-image: url("login-background.jpg");
    background-size: cover;
}

header{
    left:0px;
    top:0px;
    position: fixed;
    margin: -20px;
}

.loginForm{
    text-align: center;
    font-size: 30px;
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    width: 250px;
    height: 350px;
}

#gameDescription{
    background-color: black;
    color:white;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    font-size: 20px;
    
}

.loginForm > .user{
    padding: 20px;
}

.loginForm > a{
    color: white;
    text-decoration: none;
}

.menu{
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    background-color: black;
}

.menu > .item {
    display: flex;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    
    cursor: pointer;
    user-select: none;
}

.menu > li > a{
    color: white;
    text-decoration: none;
}

.storeButton{
    text-align: center;
}

.storeButtonDescription{
    text-align: center;
}

.packs{
    display: flex;
    list-style-type: none;
    align-content: center;
}

.packs > .pack{
    text-align: center;
    color: white;
    border: black;
    border-style: solid;
    border-width: 2px;
    width: fit-content;
    padding: 50px;
    margin: 50px;
    background-image: url("isecard-back.png");
    background-size: cover;
}