extends layout 

block content 
    video(width='320' height='240' autoplay) Gameplay Video
        source(src='video' type='video/mp4')
    p(id='gameDescription') Ise-Cards is a trading card game based around the popular anime genre Isekai. While playing Ise-Cards you'll "Isekai" other cards to place better ones, resulting in the original cards being destroyed from play. All cards are designed after famous (and sometimes infamous) anime charcaters we all know and love. So with that said, grab your steering wheel, and go Isekai some characters!