extends layout 

block content 
    
        video(width="320" height="240" autoplay) Gameplay Video
            source(src="video" type="video/mp4")
        p
            div This is the game Description.