doctype 
html 
    head 
        link(href='style.css' rel ='stylesheet')
        title Ise-Cards
        ul 
            li 
                a(href="http://localhost:3000/") Main
            li
                a(href="http://localhost:3000/game") Play
            li
                a(href="http://localhost:3000/store") Store 
            li

            li 

    body 
    block content