doctype 
html(id = 'site') 
    head 
        link(href='style.css' rel ='stylesheet')
        title Ise-Cards
        ul(class='menu') 
            li 
                a(href="http://localhost:3000/") Main
            li
                a(href="http://localhost:3000/game") Play
            li
                a(href="http://localhost:3000/store") Store 
            li

            li 
                a(href="http://localhost:3000/Login") Login
    body 
    block content