doctype 
html(id = 'site') 
    head 
        link(href='style.css' rel ='stylesheet')
        title Ise-Cards
        ul(class='menu') 
            li(class = 'item')
                a(href="http://localhost:3000/") Main
            li(class = 'item')
                a(href="http://localhost:3000/game") Play
            li(class = 'item')
                a(href="http://localhost:3000/store") Store 
            li(id = 'blank')

            li(class = 'item')
                a(href="http://localhost:3000/Login") Login
    body 
    block content