doctype 
html 
    head 
        link(href='style.css' rel='stylesheet')
        title Ise-Cards
    body(id='site')
        header 
            div(id='menu') 
                a(href="http://localhost:3000/" class='item') Main
                a(href="http://localhost:3000/game" class='item') Play
                a(href="http://localhost:3000/store" class='item') Store 
                div(class='spacing')
                a(href="http://localhost:3000/login" class='item') Login
    block content