doctype 
html 
    head 
        link(href='style.css' rel='stylesheet')
        title Ise-Cards
        div(id='menu')
            a(href="/" class='menuItem') Main
            a(href="/game" class='menuItem') Play
            a(href="/store" class='menuItem') Store 
            div(id='spacingForMenu' class='menuItem')
            a(href='about:blank' class='menuItem') Log in / Sign up
    body 
    block content