doctype 
html 
    head 
        link(href='public/style.css' rel ='stylesheet')
        title Ise-Cards
        ul 
            li 
                a(href="http://") Main
            li
                a(href="http://") Play
            li
                a(href="http://") Store 
    body 
    block content