doctype 
html 
    head 
        link(href='style.css' rel='stylesheet')
        title Ise-Cards
        div(id='menu')
            div(class='menuItem')
                a(href="/") Main
            div(class='menuItem')
                a(href="/game") Play
            div(class='menuItem')
                a(href="/store") Store 
            div(id='spacingForMenu' class='menuItem')
            div(class='menuItem')
                a(href='about:blank') Log in / Sign up
    body 
    block content