doctype 
html 
    head 
        link(href='style.css' rel ='stylesheet')
        title Ise-Cards
    body(id = 'site')
        header 
            div(class='menu') 
                a(href="http://localhost:3000/" class='item') Main
                a(href="http://localhost:3000/game" class='item') Play
                a(href="http://localhost:3000/store" class='item') Store 
                div(id='blank')
                a(href="http://localhost:3000/Login" class='item') Login
    block content