doctype 
html
    head 
    link(href='style.css' rel ='stylesheet')
    body(class = 'login')
        form(class = 'loginForm' method='post' action='/create')
            p(class = "user") Username:
                br
                input(type="text" name='username')
            p(class = "pass") Password:
                br
                input(type="text" name='password')
            p(class = "submit")
                input(type="submit" value='Sign Up')