doctype 
html
    head 
<<<<<<< HEAD
    body
        form(method='get' action='/Login')
=======
    link(href='style.css' rel ='stylesheet')
    body(class = 'login')
        form(class = 'loginForm' method='post' action='/')
>>>>>>> c0e6279b1e2dcea54478e116b128f03eb08ccac6
            p(class = "user") Username:
                br
                input(type="text" name='username')
            p(class = "pass") Password:
                br
                input(type="text" name='password')
            p(class = "submit")
                input(type="submit" value='Sign Up')