extends layout 

block content 
    div(id='storeContainer')
        div(id='storeUpperSection')
            div(class='storeButton')
                p 5 cards 
                p $10.00
            div(class='storeButton')
                p 10 cards 
                p $15.00
            div(class='storeButton')
                p 15 cards 
                p $20.00
    div(id='storeLowerSection')
        p Text goes here maybe...