extends layout 

block content 
    div(id='storeContainer')
        div(id='storeUpperSection')
            div(class='storeButton')
                h3 Single Pack
                p 5 cards <br> $10.00
                div(class='storeButtonDescription')
                    hr
                    p <i>Legendary:</i> 1% chance
                    p <i>Rare:</i> 9% chance
                    p <i>Common:</i> 90% chance
            div(class='storeButton')
                h3 Double Pack
                p 10 cards <br> $15.00
                div(class='storeButtonDescription')
                    hr
                    p <i>Legendary:</i> 1% chance
                    p <i>Rare:</i> 9% chance
                    p <i>Common:</i> 90% chance
            div(class='storeButton')
                h3 Triple Pack
                p 15 cards <br> $20.00
                div(class='storeButtonDescription')
                    hr
                    p <i>Legendary:</i> 1% chance
                    p <i>Rare:</i> 9% chance
                    p <i>Common:</i> 90% chance
            div(class='storeButton')
                h3 Legendary Pack
                p 5 cards <br> $25.00
                div(class='storeButtonDescription')
                    hr
                    p <i>Legendary:</i> 7% chance
                    p <i>Rare:</i> 33% chance
                    p <i>Common:</i> 60% chance
    div(id='storeLowerSection')
        p Text goes here maybe...