doctype 
html 
    head 
        link(href='public/style.css' rel ='stylesheet')
        title = "Ise-Cards"
        ul 
            a(href="http://") Main
            a(href="http://") Play
            a(href="http://") Store 
    body 
    block content